* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

input,
button {
  font: inherit;
  font-family: 'Open Sans', sans-serif;
}
