.container {
  max-inline-size: min(90%, var(--container));
  margin: var(--spacing-5) auto var(--spacing-7);
}

.container > .title {
  font-weight: 600;
  font-size: var(--fs-4);
  letter-spacing: 1px;
  color: hsl(var(--brand-2-hue) 80% 55%);

  margin-block-end: var(--spacing-6);
}

.container > .users-list {
  --min-column-size: 32.5rem;

  display: grid;
  grid-template-columns: minmax(var(--min-column-size), 40rem);
  justify-content: center;
  gap: var(--spacing-3);
}

/* 41.25rem = 660px */
@media (min-width: 41.25rem) {
  .container {
    padding-block: 6rem;
  }

  .container > .title {
    font-size: 4rem;
    margin-block-end: var(--spacing-7);
  }
}

/* 48rem = 768px */
@media (min-width: 48rem) {
  .container > .users-list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--min-column-size), 1fr)
    );
  }
}

/* 68.75rem = 1100px */
@media (min-width: 68.75rem) {
  .container > .title {
    font-size: var(--fs-5);
    margin-block-end: 8rem;
  }
}
